.list-group {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.list-group-item {
    cursor: pointer;
}

.row {
    background-color: white;
    border-radius: 5px;
    bottom: 50px;
    left: 50px;
    padding: 10px;
    position: fixed;
    width: 320px;
    z-index: 999;
}