<div #mapa class="mapa-container"></div>

<div class="row">
    <div class="col-12">
        <label class="form-label">
            <!-- <i class="fa-solid fa-car fs-3 text-primary"></i> -->
            Zoom: {{ zoomLevel | number: '2.0-2' }} - Lng, Lat: {{ center[0] | number: '2.4-4' }} {{ center[1] | number: '2.4-4' }}
        </label>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" (click)="zoomOut()">-</button>
        <button class="btn btn-primary float-end" (click)="zoomIn()">+</button>
    </div>
</div>